.token.entity,
.token.operator,
.token.url,
.token.punctuation {
    color: #476582!important;
}
.content pre[class*=language-] code,
.content pre code {
    color: #476582!important;}
    .content pre,
.content pre[class*=language-] {
    background-color: #f3f5f7!important;
}
